<div class="page">
    <!-- navbar -->
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title">
                Home Shop

            </div>
            <div class="right">
                <p style="text-align: right;font-size: 10px;">{{user.nom}}</p>
            </div>

            <div class="subnavbar">
                <form class="searchbar searchbar-init" data-search-container=".search-list" data-search-in=".item-title">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Search for product or stores">
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <span class="searchbar-disable-button">Cancel</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end navbar -->
    <div class="page-content">

        <!-- home shop -->
        <div class="segments-page">
            <div class="home-shop">
                <div class="header-image segments">
                    <div class="container">
                        <div class="swiper-container swiper-init" data-pagination='{"el": ".swiper-pagination"}' data-space-between="10">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-wrapper">
                                <ion-slides mode="ios" pager="ios" scrollbar="ios">
                                    <ion-slide>
                                        <div class="swiper-slide">
                                            <a href="#">
                                                <img src="../../../assets/img/slide1.jpg" alt="">
                                            </a>
                                        </div>
                                    </ion-slide>
                                    <ion-slide>
                                        <div class="swiper-slide">
                                            <a href="#">
                                                <img src="../../../assets/img/slide2.jpg" alt="">
                                            </a>
                                        </div>
                                    </ion-slide>
                                    <ion-slide>
                                        <div class="swiper-slide">
                                            <a href="#">
                                                <img src="../../../assets/img/slide3.png" alt="">
                                            </a>
                                        </div>
                                    </ion-slide>
                                </ion-slides>



                            </div>
                        </div>
                    </div>
                </div>

                <div class="category-shop segments">
                    <div class="container">
                        <div class="content-box">
                            <div class="swiper-container swiper-init" data-scrollbar='{"el": ".swiper-scrollbar"}' data-space-between="10" data-slides-per-view="5">
                                <div class="swiper-scrollbar">
                                    <div class="swiper-scrollbar-drag"></div>
                                </div>
                                <div class="swiper-wrapper">
                                    <ion-item style="margin-left: 13%;">
                                        <div *ngFor="let item of allCategorie" style="margin-right: 50px;" (click)="showCategorie(item)">
                                            <ion-icon name="{{item.img}}" style="zoom: 1.5;"></ion-icon>
                                        </div>
                                    </ion-item>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="new-product product">
                    <div class="container">
                        <div class="wrap-title">
                            <h3>Produit recent<a href="#" class="see-all-link">Voir plus</a></h3>
                        </div>
                        <div class="row">
                            <div class="col-50" *ngFor="let item2 of recenteProduit">
                                <div class="content">
                                    <img src="../../../assets/img/{{item2.img}}" alt="">
                                    <div class="content-text">
                                        <a href="/product-details/">
                                            <p>{{item2.nom}}</p>
                                        </a>
                                        <span class="price">{{item2.prix}} Fcfa</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end home shop -->

    </div>

</div>